<div class="row ">
    <div class="col-md-6 col-12 text-left">
        <img class="logo" src="../../assets/images/download.png">
    </div>


    <div class="col-md-6 text-right">

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">


            </div>
        </div>
    </div>
</div>